@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: #F1ECDB;
  font-family: 'Montserrat', sans-serif;
}

.well {
  width: 75%;
  opacity: 0.75;
    background-color: #FFFFFF;
}

.control-label {
  font-weight: normal;
}


h2 {
  padding-bottom: 10px;
  text-align: center;
}

.col-sm-4 {
 padding-left: 100px; 
}

.col-sm-8 {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  width: 50%;
  
}

.well, .col-sm-8 {
  border-radius: 5px;
  border: solid lightgrey 1px;
}

#responsive-img{
  width:100%;
  background-size:100% 100%;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #CB9717; /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    font-size:20px;
    color: white; /*BACKGROUND color for active*/
    background-color: #D8BA71;
}

.navbar-default {
    background-color: #E3D39D;
    font-weight:bold;
    font-size:16px;
}

#into {
  font-weight:bold;
  font-size:50px;
  text-align:center;
  border:20px;
}

#text{
  font-size:25px;
  text-align:left;
  font-family:garamond;
  margin: 10px 50px 75px;
  padding: 20px;
}

label {
  font-size:20px;
  font-family:fantasy;
}

p{
  font-size:16px;
}